* {
    margin: 0; 
} 
.sarshavi { 
    width: 100%; 
    height: 90vh; 
    background-image: url(/photo/bg.png); 
    background-size: cover;  
    padding-top: 6vh;
    
}  
.bolo { 
    display: flex; 
    justify-content: space-between; 
    width: 80% ; 
    margin-left: 10%;  
    align-items: center; 
    
}    
.prs { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 60%;
}
.prs p { 
    color: white;
}
.sarshavi h1 { 
    color: white; 
    font-size: 10vh; 
    text-align: center;
    margin-top: 30vh; 
} 
.kr { 
    width: 30vh; 
    border-top-left-radius: 4vh; 
    border-top-right-radius: 4vh; 
    height: 7vh;  
    background-color: white ;
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
} 
.dr { 
    width: 40%; 
    height: 70%; 
    border-radius: 2vh; 
    background-color: #177BA5; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}  
.drr { 
    background-color: white; 
    color: black;
} 

.krr { 
    width: 90vh;  
    border-radius: 4vh; 
    border-top-left-radius: 0vh; 
     border: 1px solid gray;
    height: 25vh;  
    background-color: white ;
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
} 
.drd { 
    width: 40%; 
    height: 70%; 
    border-radius: 2vh; 
   
    display: flex;
    justify-content: space-around;
    align-items: center; 
    box-shadow: 1px 1px 1px 1px gray ;
}  
.drrd { 
    background-color: white; 
    color: black; 
       box-shadow: 1px 1px 1px 1px gray ;
} 
.w { 
    width: 40%;  
    
    height: 90%; 

} 
.w b { 
    
    margin-left: 2vh; 
    

} 
.w p  { 
    margin-bottom: 3vh; 
    margin-top: 3vh; 
    margin-left: 2vh;

}  
.w .h { 
    margin-left: 0;
}
.s { 
    width: 4vh; 
    height: 4vh; 
    border-radius: 2vh; 
    border: 1px solid gray; 
    margin-right: 2vh;
}
.mobayn { 
    margin-left: 30%; 
    margin-top: 20vh;
} 
.d { 
    margin-top: 25vh;
}
.d h1 { 
    font-size: 7vh; 
    text-align: center;
} 
.seto { 
    width: 80%; 
    height: 70vh; 
    margin-left: 10%; 
    display: flex; 
    justify-content: space-between; 
    
    
    margin-top: 5vh;  
    
} 
.seto .setto { 
    width: 30%; 
    height: 100%; 
    
    border-radius: 5vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border: 1px solid gray;
}  
.setto img { 
    width: 83%; 
    height: 60%;
}
.setto p { 
    margin-top: 2vh; 
    font-size: 4vh; 
    margin-bottom: 3vh;
} 
.ff { 
    width: 80%; 
    display: flex; 
    justify-content: space-between;
} 
.ff p { 
    color: gray; 
    font-size: 2vh; 
    margin-top: 3vh;
} 

.ff span { 
    color: black;
} 
.kabud { 
    width: 10vh; 
    height: 5vh; 
    color: white;  
    display: flex; 
    justify-content: center;  
    align-items: center; 
    margin-top: 4vh;
    border-radius: 3vh;
    font-size: 2vh;
    background-color: #177BA5; 
}




